.gitconfig
.bash_history
criando um novo projeto.txt
Cronograma Sementes.png
.lesshst
automacao_mobile/aulão - automação mobile.mp4
automacao_web_python/Aulão - Automação Web Python.mp4
automacao_web_python/Desafio/__pycache__
automacao_web_python/Desafio/common/__pycache__/base_page.cpython-313.pyc
automacao_web_python/Desafio/features/mapping/__pycache__/saucedemo.cpython-313.pyc
automacao_web_python/Desafio/util/config/__pycache__/driver.cpython-313.pyc
